.page-container {
  min-height: 100%;
  height: auto !important;
  margin: 0;
  margin-bottom: -280px;
}

.footer-pusher {
  clear: both;
}

.main-nav {
  padding-top: 50px;
}

.main-nav li {
  margin-right: 20px;
}

a {
  color: #9483ab;
}

a:hover {
  color: #7a6596;
  text-decoration: none;
}

.btn-primary {
  background: #9483ab;
  border-color: #7a6596;
}

.btn-primary:hover {
  background-color: #7a6596;
  border-color: #7a6596;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
  background-color: #9483ab !important;
}

div.container {
  padding-bottom: 100px;
}

div.header {
  padding: 20px 0 50px;
  margin: 20px auto 10px;
  background: url('/img/greyfloral_@2X.png');
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

div.header h1 {
  padding-top: 40px;
  margin-bottom: -10px;
  font-weight: 600;
  font-size: 5em;
}

div.header i {
  font-size: 8em;
}

div.header .subdued i {
  font-size: 6em;
}

.icon-heart {
  color: #ff0000;
}

li.subdued {
  color: #4A4848;
}

img.header {
  width: 8em;
  height: 8em;
  vertical-align: middle;
  margin-top: -50px;
}

div.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

ul.horizontal li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

span.large {
  font-size: 6em;
  font-weight: bold;
}

.introduction h2, .contact h2 {
  color: #788991;
  font-family: "proxima-nova-soft";
  font-style: italic;
}

.introduction h2 {
  border-top: 5px solid #788991;
  padding-top: 20px;
}

.introduction h3 {
  font-family: "proxima-nova-soft";
  font-size: 1.4em;
}

.introduction .reason {
  font-family: "source-sans-pro";
  color: #788991;
}

.section {
  text-align: left;
}

.call-to-action {
  padding-top: 30px;
}

div.contact {
  border-top: 5px solid #788991;
  padding-top: 20px;
  margin-top: 40px;
}

.contact form, .contact .subtext {
  font-family: "source-sans-pro";
  color: #788991;
}

div.contact input[type=text] {
  margin: 0 3px;
  padding: 2px 5px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px dashed #000;
}

div.contact textarea {
  padding: 5px;
  border: 1px dashed #000;
  outline: none;
  width: 500px;
  height: 200px;
  resize: none;
}

.contact input[type=submit] {
  margin-top: 10px;
}

input[type=text].medium {
  width: 180px;
}

input[type=text].large {
  width: 210px;
}

.contact .subtext {
  padding: 20px 0;
}

div.footer {
  background: #36535a;
  color: #f2eadc;
  position: relative;
  padding: 40px 0;
  margin-top: 60px;
}

div.footer ul a {
  color: #788991;
}

div.footer li {
  font-size: 1.5em;
}

div.footer ul li a {
  padding: 10px;
}
}
