<div class="row centered header">
  <div class="col-md-12">
    <ul class="horizontal">
      <li><i class="icon-github-alt icon-4x"></i></li>
      <li class="subdued"><i class="icon-plus icon-4x"></i></li>
      <li><img src="img/bio.png" alt="Jamie Wright" class="header" /></li>
      <li class="subdued"><span class="large">=</span></li>
      <li><i class="icon-heart icon-4x"></i></li>
    </ul>
    <h1 class="tk-proxima-nova-soft">{{ include.title }}</h1>
  </div>
  <div class="call-to-action col-md-4 col-md-offset-4">
    <a href="jamie-wright-2014-03-resume.pdf" class="btn btn-primary">Download Resume</a>
  </div>
</div>
