<div class="row section introduction">
  <div class="col-md-6">
    <h2>A little about me</h2>
    <div class="section">
      <h3>Professional nerd</h3>
      <div class="reason">
        I love programming. Most of my waking hours are spent crafting code in a Vim terminal on my MacBook Pro. I love <a href="http://githubfantasy.com">creating things</a> and my adrenaline goes nuts when I get to ship.  My language of choice is Ruby and my framework of choice is Rails. Lately I have been playing around with Ember and Sinatra and I have been really enjoying it. I also enjoy RubyMotion and iOS development.
      </div>

      <h3>I'm a business, man</h3>
      <div class="reason">
        I have run two companies in the past seven years. I started <a href="http://brilliantfantastic.com">Brilliant Fantastic</a> in 2006 where I was an independent consultant. I released <a href="http://teammorale.com">Morale</a> as my first product in 2009. Last year I hired <a href="http://twitter.com/keiththomps">Keith Thompson</a> to work with me and we released our <a href="http://brilliantfantastic.com/training">Ruby on Rails training</a> earlier this year. 
        <br />
        In 2011 I started <a href="http://seedcoworking.com">Seed Coworking</a> with two other partners. I got sick of talking to myself in my basement.
        <br />
        I have grown to hate consulting for numerous reasons which I would love to talk about. I want to build product.
      </div>

      <h3>I :heart: speaking</h3>
      <div class="reason">
        I have been spreading the propaganda created from my experiences for several years now. I have a soft spot for education and speaking helps me help others. I have had the privledge for speaking at regional conferences like <a href="http://codemash.org">Codemash</a>, <a href="http://www.codepalousa.com/">Code PaLOUsa</a>, and <a href="http://devlink.net/">devLink</a>. I was able to create <a href="http://githubfantasy.com">GitHub Fantasy League</a> from my Codemash talk.
      </div>

      <h3>When I have a moment</h3>
      <div class="reason">
        When I am not programming (like I said, most waking hours), I have my hands full with my family which consists of a beautiful wife, 2 1/2 girls, and a small (male !!) dog. I love to travel and I would rather code in a strange place than at home. I bike during the summer and I still <a href="https://twitter.com/jwright/status/333678843007229952/photo/1">play paintball</a> when I can. I used to play <a href="http://pspevents.com/">professionally</a> and I am looking to get back into it competitively.
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h2>A little about you</h2>
    <div class="section">
      <h3>You're a meritocracy</h3>
      <div class="reason">
        The way that you work, <a href="http://tomayko.com/writings/adopt-an-open-source-process-constraints">like an open source project</a>, is amazing to me. It just fits me. I love how GitHub solves a multitude of problems by <a href="https://github.com/play/play">building applications</a>. I love how you <a href="https://github.com/blog/1242-octokittens-everywhere">support family</a>. I love how you <a href="https://github.com/blog/category/drinkup">support the community</a>. I love drink ups (<a href="https://twitter.com/jwright/status/381473458720628736">except for the day after</a>). The GitHub culture was created for people like me.
      </div>

      <h3>Your family is the best</h3>
      <div class="reason">
        The amount of talent and love that flows through GitHub is mind boggling to me. I am so impressed by the people and <a href="https://github.com/github/hubot">projects</a> that come out of GitHub. I know I can add value to that. I know I can teach and I know I can be taught. I work very well with teams and I had to do so in many different capacities with Brilliant Fantastic.
      </div>

      <h3>Your products are amazing</h3>
      <div class="reason">
        I <a href="https://twitter.com/jwright/status/319171361081815040/photo/1">use GitHub.com every single day</a>. There are areas like reviewing pull requests and the activity stream that I have some ideas around. I have a passion for making enterprise software better. I love making developer tools that make teams work and play better together. I want to make SpeakerDeck even more badass than it is. I even have some ideas on new products that would fit inside the GitHub ecosystem perfectly. I'd love to discuss these with you.
      </div>

      <h3>Let's consider going steady</h3>
      <div class="reason">
        I have thought about wanting to reach out to you for quite some time. I did not take this decision lightly. I wanted to make sure that I would bring value to GitHub and I wanted to make sure GitHub would be a place I wanted to be. To be honest, I didn't think I could 'be employed' anywhere. I have tried. However, the culture at GitHub fits me so well. It is the only place I think I can be. It is the only place I want to be.
      </div>
    </div>
  </div>
</div>
