<form action="http://getsimpleform.com/messages?form_api_token=ab09bcf6432a74d63a7386a68cfc58d7" method="post" class="you-smell" style="display: none;">
  <input type="hidden" name="redirect_to" value="http://wrightin.gs/thanks-github.html" />
  <p>Hello Jamie.</p>
  <p>
  My name is <input type="text" name="name" id="name" class="medium" /> from GitHub.
  We are already seeing someone right now. I wish we could of made this work.
  If you'd like to talk, my email address is <input type="text" name="email" id="email" class="large" /> but if you'd rather call me, then 
  my number is <input type="text" name="phone" id="phone" class="medium" placeholder="(just email me)" />
  </p>
  <p>
  It's not you, it's us. Here are some of the reasons:
  <br />
  <textarea name="message" id="message"></textarea>
  </p>
  I wish we could of made this work.
  <br />
  <input type="hidden" name="subject" id="subject" value="Inquiry from GitHub (NO)" />
  <input type="submit" class="btn btn-primary" value="Let him down easy" />
</form>
