<div class="row section stats">
  <div class="col-md-3">
    <h2>Some stats</h2>
    <div class="subtext">
      Some statistical analysis from my life. <br /> 
      Who doesn't love stats?
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="stat col-md-3">
        <h2>Number of contributions</h2>
        <span class="data">2,947</span>
        <div class="subtext">in one year</div>
      </div>
      <div class="stat col-md-3">
        <h2>Longest streak of commits</h2>
        <span class="data">69 days</span>
      </div>
      <div class="stat col-md-3">
        <h2>Ruby code on GitHub</h2>
        <span class="data">49,228</span>
        <div class="subtext">lines</div>
      </div>
    </div>
    <div class="seperator row">
      <div class="stat col-md-3">
        <h2>Javascript code on GitHub</h2>
        <span class="data">11,741</span>
        <div class="subtext">lines</div>
      </div>
      <div class="stat col-md-3">
        <h2>Living as a human</h2>
        <span class="data">35 years</span>
      </div>
      <div class="stat col-md-3">
        <h2>Living as a married human</h2>
        <span class="data">7 years</span>
      </div>
    </div>
    <div class="seperator row">
      <div class="stat col-md-3">
        <h2>Time spent shooting people in face</h2>
        <span class="data">8 years</span>
        <div class="subtext">with toy guns</div>
      </div>
      <div class="stat col-md-3">
        <h2>Cities traveled to</h2>
        <span class="data">122</span>
        <div class="subtext">in United States</div>
      </div>
      <div class="stat col-md-3">
        <h2>Number of coworkers</h2>
        <span class="data">28</span>
        <div class="subtext">at Seed Cowork</div>
      </div>
    </div>
  </div>
</div>
